{{ if .Site.Params.education.enable | default false }}
{{- $education := .Site.Language.Params.education
  | default .Site.Params.education -}}
<section id="education" class="py-5">
  <div class="container">
    <h3 class="text-center mb-5">
      {{ $education.title
        | default .Site.Params.education.title
        | default (i18n "education") }}
    </h3>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-8">
        <div class="timeline">
          {{ range $education.items
            | default .Site.Params.education.items }}
            <div class="timeline-item">
              <div class="timeline-marker">
                <div class="timeline-dot"></div>
              </div>
              <div class="timeline-content timeline-content-plain">
                <div class="timeline-header">
                  <div>
                    <h4 class="timeline-title">{{ .title }}</h4>
                    <span class="timeline-company">
                      {{ if .school.url -}}
                        <a href="{{ .school.url }}"
                           target="_blank"
                           rel="noopener">{{ .school.name }}</a>
                      {{- else -}}
                        {{ .school.name }}
                      {{- end }}
                    </span>
                  </div>
                  <span class="timeline-date">{{ .date }}</span>
                </div>
                {{ if .content }}
                <div class="timeline-body">
                  {{ .content | markdownify }}
                </div>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
